body {
  height: 100%;
  color: white;
  background-size: cover;
  background-image: url("img/brick-wall.jpg");
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #bc13fe,
    0 0 2px #bc13fe, 0 0 92px #bc13fe, 0 0 2px #bc13fe, 0 0 41px #bc13fe;
}

.container {
  max-width: 500px;
  padding: 20px;
  border-radius: 2rem;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 1em #bc13fe,
    0 0 1.5rem #bc13fe, 0 0 0.4rem #bc13fe, inset 0 0 0.4rem #bc13fe;
}

h1 {
  max-width: 500px;
  margin: 0px 350px 0px;
  font-size: 65px;
  font-family: vibur;
  animation: flicker 3s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 2px #bc13fe,
      0 0 22px #bc13fe, 0 0 92px #bc13fe, 0 0 22px #bc13fe, 0 0 21px #bc13fe;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.cloud {
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #1375fe,
    0 0 62px #1375fe, 0 0 92px #1375fe, 0 0 32px #1375fe, 0 0 51px #1375fe;
}

header {
  padding: 20px;
  font-size: 40px;
  font-family: sacramento;
  justify-content: space-evenly;
  display: flex;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 62px #13fea4, 0 0 92px #13fea4, 0 0 32px #13fea4, 0 0 51px #13fea4;
}

h2 {
  font-family: vibur;
  padding: 10px;
  font-size: 55px;
  margin: 20px 20px 0px;
  display: flex;
  justify-content: space-between;
}

p {
  text-align: left;
  line-height: 1.5;
  padding-left: 20px;
  font-weight: 600;
  font-family: monospace;
}

footer {
  font-size: 15px;
  text-align: left;
  padding-top: 10px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer a {
  text-decoration: none;
  color: rgb(176, 247, 169);
}

footer,
.container {
  margin: 0 auto;
  max-width: 800px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 62px #13fea4, 0 0 92px #13fea4, 0 0 32px #13fea4, 0 0 51px #13fea4;
}
