.Forecast .row {
  text-align: center;
  padding: 15px 75px 0;
  display: flex;
  justify-content: space-between;
}

.Forecast-day {
  margin: 10px;
  font-size: 19px;
  font-family: vibur;
}

.Forecast-temperatures {
  margin: 3px;
  font-size: 18px;
  font-family: vibur;
}

.Forecast-temperature-min {
  opacity: 0.6;
}

.Forecast {
  padding-bottom: 10px;
}
