.Forecast .row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Forecast-day {
  font-size: 19px;
  font-family: vibur;
}

.Forecast-temperatures {
  margin: 3px;
  font-size: 18px;
  font-family: vibur;
}

.Forecast-temperature-min {
  opacity: 0.6;
}

.Forecast {
  padding: 10px;
}
