.unit {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.section {
  display: flex;
}

.description {
  text-align: left;
}
form {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 60%;
  font-size: 16px;
  color: white;
}

.submit {
  width: 13%;
  color: white;
  margin-left: 20px;
  font-size: 15px;
}

.submit:hover {
  cursor: pointer;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 12px #13fea4, 0 0 1px #13fea4;
  box-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 1px #13fea4;
}

.searchBar,
.submit {
  padding: 15px;
  border-radius: 90px;
  border: 0.1rem solid #fff;
  background-color: rgba(33, 21, 21, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 1em #bc13fe,
    0 0 0.5rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.5rem #bc13fe;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #bc13fe,
    0 0 62px #bc13fe, 0 0 92px #bc13fe, 0 0 22px #bc13fe, 0 0 51px #bc13fe;
}
