form {
  display: flex;
  justify-content: center;
}

.WeatherTemperature .unit {
  font-size: 19px;
  position: relative;
  top: -30px;
  text-decoration: none;
}

.WeatherMain {
  display: flex;
}

.WeatherMain .WeatherIcon {
  margin-right: 10px;
}

.section {
  display: flex;
}

.description {
  text-align: left;
}

.searchBar {
  width: 60%;
  font-size: 13px;
  color: white;
  font-family: monospace;
}

.submit {
  width: 13%;
  color: white;
  margin-left: 20px;
  font-size: 15px;
  font-family: vibur;
}

.submit:hover {
  cursor: pointer;
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 12px #13fea4, 0 0 1px #13fea4;
  box-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 22px #13fea4,
    0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 2px #13fea4, 0 0 1px #13fea4;
}

.searchBar,
.submit {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #f9f9f9;
  background-color: rgba(247, 242, 242, 0);

  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 2px #bc13fe,
    0 0 2px #bc13fe, 0 0 10px #bc13fe, 0 0 2px #bc13fe, 0 0 1px #bc13fe;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 2px #bc13fe,
    0 0 2px #bc13fe, 0 0 10px #bc13fe, 0 0 2px #bc13fe, 0 0 1px #bc13fe;
}
